body {
    background-color: black;
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App {
    margin-top: 50%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 400px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    background: #6c2fa1;
    border: none;
    padding: 0 5px;
    color: wheat;
    margin: 10px;
}

input::placeholder {
    color: wheat;
}

.container {
    background-color: #6c2fa1;
    width: 410px;
    max-height: 410px;
    border-radius: 10px;
    overflow-y: auto;
    font-size: 20px;
    scrollbar-width: thin;
}

.item {
    padding: 10px;
}