:root {
    --yellow: #fcdd26;
    --grey: #333;
    --whiteYellow:rgb(222, 205, 173);
    --lightGreen:#02b308;
    --green:#054f07;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    color: var(--whiteYellow);
}

.App {
    margin-top: 25%;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

input {
    width: 400px;
    border-radius: 10px;
    height: 50px;
    font-size: 20px;
    background: var(--lightGreen);
    border: none;
    padding: 0 5px;
    color: var(--whiteYellow);
    margin: 10px;
}

input::placeholder {
    color:  var(--whiteYellow);
}

.container {
    background-color: var(--green);
    width: 410px;
    max-height: 410px;
    border-radius: 10px;
    overflow-y: auto;
    font-size: 20px;
}

.item {
    padding: 10px;
}

.container::-webkit-scrollbar {
    width: 0.7rem;

}

.container::-webkit-scrollbar-track {
    background: var(--grey);
    border-radius: .5rem;
}

.container::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: .5rem;
}